.search-button-container {
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.search-button {
  width: 200px;
}

.search-button:disabled:hover {
  width: 200px;
  background-color: #ccc;
  cursor: default;
  color: black;
}

.search-form {
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

.search-page-container {
  gap: 10px;
  width: 100%;
}


table tr:last-child td {
  border-bottom: none;
}

@media (max-width: 768px) {



  .result-preview {
    font-size: 1rem;
  }


  .results-table th:first-child,
  .results-table td:first-child {
    display: none;
  }

  .results-table th:nth-child(2),
  .results-table td:nth-child(2) {
    width: 70%;
    border-top-left-radius: 5px;
  }

  .results-table th:last-child,
  .results-table td:last-child {
    width: 30%;
    text-align: right;
  }
}

.checkbox-container {
  flex-direction: row;
  display: flex;
  vertical-align: middle;
  align-content: center;
  flex-wrap: wrap;
  width: 40px;
}

.checkbox-container label {
  display: block;
}

.search-tabs {
  display: flex;
}

.search-tab {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  font-size: 1rem;
  width: 50%;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #ccc;
  color: black;

}

.search-tab:hover {
  background-color: #333;
  color: white;
}

.search-tab.active {
  border: 1px solid #ccc;
  background-color: #fff;
  border-bottom: 0px;
}

.search-tab.active:hover {
  cursor: default;
  background-color: #fff;
  color: black;
}

.tab-content {
  border: 1px solid #ccc;
  border-top: 0px;
  padding: 1rem;
  border-radius: 0px 0px 5px 5px
}

.search-button-container {
  margin-top: 1rem;
  gap: 1rem;
}

.search-tab-container {
  margin: auto;
  width: 75%;
}


.search-content {
  border: 1px solid #ccc;
  padding: 1rem;
  border-top: 0px !important;
  border-radius: 0px 0px 5px 5px;

}

.search-field-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.remove-field {
  margin-left: 10px;
}

.and-field {
  text-align: center;
}


.skeleton-td .result-preview-container ul li::marker {
  color: #e2e8f0 !important;
  animation: skeletonPulse 1.5s ease-in-out infinite;
}

.skeleton-table-item {
  height: 1.25rem;
  background-color: #e2e8f0;
  border-radius: 5px;
  margin: 2px;
  width: 50%;
  animation: skeletonPulse 1s ease-in-out infinite;

}

.results-split {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.results-split .skeleton-table-item {
  width: 20%;
  margin: 1rem 0 1rem 0
}

@keyframes skeletonPulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}